In [1]:
# import python libraries

In [ ]:
# import csv file

In [ ]:
#drop unrelated/blank columns

In [ ]:
#check for null values

In [ ]:
# drop null values

In [ ]:
# change data type

In [ ]:
#rename column

In [ ]:
# describe() method returns description of the data in the DataFrame (i.e. count, mean, std, etc)

In [ ]:
# use describe() for specific columns

# Exploratory Data Analysis

### Gender

In [ ]:
# plotting a bar chart for Gender and it's count

In [ ]:
# plotting a bar chart for gender vs total amount

*From above graphs we can see that most of the buyers are females and even the purchasing power of females are greater than men*

### Age

In [ ]:
# Total Amount vs Age Group

*From above graphs we can see that most of the buyers are of age group between 26-35 yrs female*

### State

In [ ]:
# total number of orders from top 10 states

In [ ]:
# total amount/sales from top 10 states

*From above graphs we can see that most of the orders & total sales/amount are from Uttar Pradesh, Maharashtra and Karnataka respectively*

### Marital Status

*From above graphs we can see that most of the buyers are married (women) and they have high purchasing power*

### Occupation

*From above graphs we can see that most of the buyers are working in IT, Healthcare and Aviation sector*

### Product Category

*From above graphs we can see that most of the sold products are from Food, Clothing and Electronics category*

In [ ]:
# top 10 most sold products (same thing as above)

## Conclusion:

###

*Married women age group 26-35 yrs from UP,  Maharastra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Food, Clothing and Electronics category*

Thank you!